body {
    border: 2px solid rgb(0, 0, 0);
  }
  div {
    background-color: rgba(199, 70, 15, 0.323);
  }
  p {
    background-color: rgb(70, 200, 19);
  }
  span {
    background-color: yellowgreen;
  }
  a {
    background-color: aqua;
    color: rgb(241, 9, 9);
  }